/0-1 Knapsack/Variations of 0-1 Knapsack/equal_sum_partition_knapsack/build/
/0-1 Knapsack/Variations of 0-1 Knapsack/equal_sum_partition_knapsack/nbproject/private/
/0-1 Knapsack/Variations of 0-1 Knapsack/knapsack/build/
/0-1 Knapsack/Variations of 0-1 Knapsack/knapsack/nbproject/private/